.img-logout{
    width: 40px;
    height: 40px;
    margin-left: 7px;
    margin-top: 3px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url('../img/undraw_profile_2.png');
    background-size: cover;
    background-position: center;
}
.logout{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url('../img/logout.png');
    background-size: cover;
    background-position: center;
}
.dropdown-item {
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  margin-left: -0.5%;
  margin-top: -5% ;
}
.dropdown-menu{
    margin-left: -0.5%;
    height: 60%;
}
.logout span{
    margin-left: 40px;
}
.titletable{
    color : #5672d8;
    font-size: 20px;
    width: 100%;
}
.buttoninsert {
    display: flex;
    gap: 10px;
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px;
    margin-top: 10px;
  }
  
.buttoninsert:hover{
    background-color: #3c5bb3;
}
.mb-3{
    width: 25%;
}
#form-search{
    display: flex;
    margin-top: -38px;
    margin-left: 72%;
}
.submitbutton{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px;
    margin-top: -97px;
    margin-left: 85%;
}
.submitbutton:hover{
    background-color: #3c5bb3;
}
.buttonactualizar{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px;
    display: inline-block;
  }
  
  .buttonactualizar:hover{
    background-color: #3c5bb3;
  }
  
  .buttoneliminar{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px;
    margin-left: 3%;
    display: inline-block;
  }
  
  .buttoneliminar:hover{
    background-color: #3c5bb3;
  }
  .my-confirm-button-class {
    background-color: #3c5bb3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 40px;
  }
  
  .my-cancel-button-class {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
  }
  .buttonstock{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px;
    margin-left: 2%;
    display: inline-block;
  }
  .buttonreporte{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    margin-left: 47%;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: -95px;
    position: absolute;
  }
  .buttonreportejt{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    margin-left: 58%;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: -95px;
    position: absolute;
  }
.wrapper #listado{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  width: 14rem;
  margin-top: 2.5rem;
  margin-left: 1%;
}
.sidebar .sidebar-brand {
  font-size: 1rem;
  margin-left:-5.5%;
  width: 100%;
  position: relative;
}

.buttonstock2{
  background-color: #5672d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  padding: 7px;
  margin-left: 5%;
  display: inline-block;
}
.buttonstock3{
  background-color: #5672d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  padding: 7px;
  margin-left: 5%;
  display: inline-block;
}

@media (min-width: 1300px) { /* Dispositivos medianos (laptops) */
  .buttonstock2{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px;
    margin-left: .85%;
    display: inline-block;
  }
  .buttonstock3{
    background-color: #5672d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px;
    margin-left: .85%;
    display: inline-block;
  }
}

