.dropdown-item {
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  margin-left: -0.5%;
  margin-top: -5% ;
}
.dropdown-menu{
    margin-left: -0.7%;
    height: 60%;
}
  .cards_total{
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 450px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin: 22px; /* margen para separar las cards */
  }
  .cards:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }
  
 .imagen {
    width: 100%;
    height: 170px;
  }
  .card h2{
    font-size: 20px;
    color: #5672d8;
    margin-left: 7%;
  }
  .cards p{
    font-size: 15px;
    margin-left: 10%;
  }
  .updatestock{
    background-color: #5672d8; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px ;
  }
  .buttonstockoperador{
    background-color: #5672d8; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1rem;
    border-radius: 5px ;

  }
  .imagen img{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-left: 8%;
  }
  .wrapper #listado{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  width: 14rem;
  margin-top: 2.5rem;
  margin-left: 1%;
}
.sidebar .sidebar-brand {
  font-size: 1rem;
  margin-left:-5.5%;
  width: 100%;
  position: relative;
}

.sidebar-headingop{
  font-size: 0.8rem;
  color: rgb(201, 201, 201) ;
  margin-top: 1rem;
  margin-left: 1rem;
}


  